# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out

# production
build
dist

# misc
.DS_Store
*.pem
*.log

# local env
.env*.local
.env

# editors
.idea
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts
